Заполните val1, operation(plus, minus, multiply, divide) и val2 здесь '/calculator/calculate?val1= &operation= &val2= ' и добавьте её в адресную строку.

<button onclick="fetch('/calculator/calculate?val1=200&operation=Divide&val2=40')">Calculate</button>
